manjaro-jp/manjaro-jp.files.tar.xz filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-base-git-r2996.d3ab091-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/zfs-utils-2.1.4-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-fcitx-2022.04-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/lrzip-0.641-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-iso-git-r2996.d3ab091-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-pkg-git-r2996.d3ab091-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-xfce-settings-20220410-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-live-manjaro-20.2-12-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.files.tar.xz.old.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-2.06-5-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/broadcom-wl-dkms-6.30.223.271-29-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-2.06-5-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db.tar.xz filter=lfs diff=lfs merge=lfs -text
manjaro-jp/broadcom-wl-dkms-6.30.223.271-29-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-headers-5.17.4-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gnome-extension-settings-20220410-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-iso-git-r2996.d3ab091-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-yaml-git-r2996.d3ab091-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-xfce-minimal-settings-20220410-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/morisawa-biz-ud-gothic-fonts-1.002-3-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-manjaro-20.2-12-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-pkg-git-r2996.d3ab091-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/zfs-dkms-2.1.4-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-5.17.4-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-ibus-2022.04-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/morisawa-biz-ud-mincho-fonts-1.002-3-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/lrzip-0.641-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-zfs-2.1.4-4-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gnome-settings-20220410-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db.tar.xz.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-5.17.4-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-headers-5.17.5-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gnome-settings-20220410-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.files filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-xfce-minimal-settings-20220410-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-headers-5.17.5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-5.17.5-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-5.17.5-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-broadcom-wl-6.30.223.271-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-fcitx5-2022.04-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-ibus-2022.04-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-live-common-20.2-12-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-headers-5.17.4-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-yaml-git-r2996.d3ab091-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-xfce-settings-20220410-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-live-common-20.2-12-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/morisawa-biz-ud-gothic-fonts-1.002-3-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-fcitx5-2022.04-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db.tar.xz.old.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.files.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/zfs-dkms-2.1.4-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/zfs-utils-2.1.4-1-x86_64.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-zfs-2.1.4-4-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gdm-branding-20220410-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gnome-extension-settings-20220410-1-any.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-tools-base-git-r2996.d3ab091-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/morisawa-biz-ud-mincho-fonts-1.002-3-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-live-manjaro-20.2-12-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/linux517-broadcom-wl-6.30.223.271-1-x86_64.pkg.tar.zst filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-asian-input-support-fcitx-2022.04-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-gdm-branding-20220410-1-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.db.tar.xz.old filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.files.tar.xz.old filter=lfs diff=lfs merge=lfs -text
manjaro-jp/manjaro-jp.files.tar.xz.sig filter=lfs diff=lfs merge=lfs -text
manjaro-jp/grub-theme-manjaro-20.2-12-any.pkg.tar.zst.sig filter=lfs diff=lfs merge=lfs -text
